<h1>Start looking for cool stuff near you</h1>

  </div>
    <form id="search-picture" class="search" action="/search">
      <input type="text" name="search" id="street" value="" title="Search" class="text">
      <input type="submit" name="page" value="  " disable_with="Submiting..." class="search-submit">
    </form>
  </div>
  
  <div>
    <h2>Be cool too</h2>
    <button onclick="location.href='/users/new'" type="button">Sign up</button>
  </div>
<% if logged_in? %>
  <h1>User uploaded Pictures</h1>
  <% @user_uploaded_pictures.each do |uploaded_pic| %>
    <p><%= uploaded_pic.title%> <%= uploaded_pic.street_name%></p>
  <%end%>

  <h1>User favourited Pictures</h1>
  <% @user_favourited_pictures.each do |favourited_pic| %>
    <p><%= favourited_pic.picture.title%> <%= favourited_pic.picture.street_name%></p>
  <%end%>
<%end%>

<script>
  function initMap() {
    var input = document.getElementById('street');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
  <%= raw @google_address_auto %>
</script>