
<div class="image_container" style="background-image: url('<%= @pictures.first.img_url %>')">
  <div class="home_title" >
    <h1>Rediscover the city through the art of thousands of artists</h1>
    <div class="home_search_form">
      <form id="search-picture" class="search" action="/search">
        <input type="text" placeholder='Street name, city...' name="search" id="street" value="" title="Search" class="text" required>
        <button type="submit" class="search-submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</div>

<%= image_tag "Group.png", :class => 'floats' %>
<%= image_tag "Group 2.png", :class => 'floats-2' %>


<% if logged_in? %>
  <div class="user_dashboard">
  <%if @user_uploaded_pictures.length>0%>
    <div class="user_uploaded_pics">
      <h3>Uploaded Pictures</h3>
      <div class="uploaded_images">
        <% @user_uploaded_pictures.each do |uploaded_pic| %>
          <a href='/pictures/<%= uploaded_pic.id %>'><div class="gallery_image" style="background-image: url('<%= uploaded_pic.img_url %>')"></div>
        <%end%>
      </div>
    <%end%>
    <%if @user_favourited_pictures.length>0%>
    <div class="user_uploaded_pics">
      <h3>Favourited Pictures</h3>
      <div class="uploaded_images">
      <% @user_favourited_pictures.each do |favourited_pic| %>
        <a href='/pictures/<%= favourited_pic.picture.id %>'><div class="gallery_image" style="background-image: url('<%= favourited_pic.picture.img_url %>')"></div>
      <%end%>
      </div>
    </div>
    <%end%>

    <div class="upload_new">
      <a href='pictures/new'> 
        <button class="btn_upload" type="button">Upload More </button>
      </a>
    </div>
  </div>
  <% else %>
    <div class="explore">
      <h2>Explore <span>Melbourne</span></h2>
      <div class="explore_images">
        <%@pictures.each do |pic|%>
          <a href='/pictures/<%= pic.id %>'><div class="gallery_image" style="background-image: url('<%= pic.img_url %>')"></div>
        <%end%>
      </div>
    </div>

<%end%>

<div class="end">
  
  <h2>Start Exploring now!</h2>
</div>


<script>
  function initMap() {
    var input = document.getElementById('street');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
  <%= raw @google_address_auto %>
</script>

<script>
  position = window.scrollY
  window.addEventListener('scroll', ()=> {
    if (window.scrollY < position) {
      document.querySelector('.floats').style = 'transform: translateY('+ position/100 +'em)'
      document.querySelector('.floats-2').style = 'transform: translateY(' + positioner/60 + 'em)'
      positioner++
    } else {
      document.querySelector('.floats').style = 'transform: translateY('+ position/100 +'em)'
      document.querySelector('.floats-2').style = 'transform: translateY(' + positioner/60 + 'em)'
      positioner = positioner - 1
    }
    position = window.scrollY
  })
</script>