<head>
<%= stylesheet_link_tag 'home' %>
</head>
<div class="home_title">
  <h1>Rediscover the city through the art of thousands of artists</h1>
</div>

<div class="home_search_form">
  <form id="search-picture" class="search" action="/search">
    <input type="text" placeholder='Street name, city...' name="search" id="street" value="" title="Search" class="text" required>
    <button type="submit" class="search-submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
</div>


<% if logged_in? %>
  <div>
    <h2>Upload new art</h2>
    <button onclick="location.href='/pictures/new'" type="button">Go</button>
  </div>
    <h2>User uploaded Pictures</h2>
      <% @user_uploaded_pictures.each do |uploaded_pic| %>
      <p><%= uploaded_pic.title%> <%= uploaded_pic.street_name%></p>
    <%end%>

    <h2>User favourited Pictures</h2>
    <% @user_favourited_pictures.each do |favourited_pic| %>
      <p><%= favourited_pic.picture.title%> <%= favourited_pic.picture.street_name%></p>
    <%end%>
  <% else %>
    <div class="explore">
      <h2>Explore <span>Melbourne</span></h2>
      <div class="explore_images">
        <%@pictures.each do |pic|%>
          <a href='/pictures/<%= pic.id %>'><%= image_tag "#{pic.img_url}", size: "430x290" %>
        <%end%>
      </div>
    </div>

<%end%>

<script>
  function initMap() {
    var input = document.getElementById('street');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
  <%= raw @google_address_auto %>
</script>