
<style>
   /* Set the size of the div element that contains the map */
  #map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }
</style>

<h3>My Google Maps Demo</h3>

<div id="map"></div>

<script> 
function initMap() {
  
  var uluru = {lat: <%= @lat %>, lng: <%= @lng %> }
  var map = new google.maps.Map(
      document.getElementById('map'), 
      {zoom: 17, center: uluru})
  
  markers = []
  infoWindows = []
  contents = []

  <% @pictures.each_with_index do |picture, idx| %>
  
  var position = {lat: <%= picture.latitude %>, lng: <%= picture.longitude %> }
  
  contents.push(
    `
    <div id='content'>
      <img src='<%= picture.img_url %>'>
      <h3 class="info-window__title"><%= picture.title %></h3>
      <h4 class="info-window__rating"></h4>
    </div>
  `)

  infoWindows.push(
      new google.maps.InfoWindow({
      content: contents[<%= idx %>]
    })
  )

  markers.push(
    new google.maps.Marker({
    position: position,
    map: map,
    title: '<%= picture.title %>'
    })
  )

  markers[<%= idx %>].addListener('click', function() {  
    infoWindows[<%= idx %>].open(map, markers[<%= idx %>])

  })

  <% end %>



}

</script>



<script> 
  <%= raw @google_map_loader %>

</script>