<div class="container">
 <div class="upload_new_pic">
    <%= form_tag(pictures_path, :method => "post",:class => 'new_picture_form') do %>
     <h1>upload picture</h1>
      <%= label_tag(:q, "Image url") %>
      <%= text_field_tag 'picture[img_url]' %>
      <br/>
      <br/>
      <%= label_tag(:q, "Street name") %>
      <%= text_field_tag 'picture[street_name]' %>
      <br/>
      <br/>
      <%= label_tag(:q, "Artist name") %>
      <%= text_field_tag 'picture[artist]' %>
      <br/>
      <br/>
      <%= label_tag(:q, "Title") %>
      <%= text_field_tag 'picture[title]' %>
      <br/>
      <%= submit_tag("send", :id=>"submit_new_pic") %>
    <% end %>
  </div>
  <div class="upload_background_pic" style="background-image:url('<%= @picture_image %>')"></div>
</div>

<script>
  function initMap() {
    var input = document.getElementById('picture_street_name');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
  <%= raw @google_address_auto %>
</script>