
<img src="<%= @picture.img_url %>">
<h1><%= @picture.street_name %></h1>

<p>Rating: <%= @ratings %> stars</p> 

<div class="stars">
  <form action="">
    <input class="star star-5" id="star-5" type="radio" name="star" value="5" />
    <label class="star star-5" for="star-5"></label>
    <input class="star star-4" id="star-4" type="radio" name="star" value="4" />
    <label class="star star-4" for="star-4"></label>
    <input class="star star-3" id="star-3" type="radio" name="star" value="3" />
    <label class="star star-3" for="star-3"></label>
    <input class="star star-2" id="star-2" type="radio" name="star" value="2" />
    <label class="star star-2" for="star-2"></label>
    <input class="star star-1" id="star-1" type="radio" name="star" value="1" />
    <label class="star star-1" for="star-1"></label>
  </form>
</div>

<script>
  $('.stars form').on('click', 'input', function(event) {
  	event.preventDefault()
    var ratingValue = event.target.value
    sendRequest(ratingValue)
  })
  
  function sendRequest(ratingValue) {
	  $.ajax({
      headers: {
        "X-CSRF-Token": $('meta[name=csrf-token]').attr('content')
      },
      url: '/submit_rating',
      method: 'post',
      data: {
        rating: ratingValue
      }
    }).done(function(data) {
      $(`.stars input[value=${data.rating}]`).prop('checked', true)
    })
  }
</script>

<p>Title: <%= @picture.title %></p>
<p>Artist: <%= @picture.artist %></p>


<% if logged_in? %>
  <form action="/comments" method="post">
    <input type= "hidden" name="picture_id" value="<%= @picture.id %>">
    <p><label for="">Comments</label></p>
    <textarea class="comment-textarea" name="content"></textarea>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button>Post</button>
  </form>
<% end %>

<% @comments.each do |comment| %> 
  <div>
    <p><%= comment.user.email %>:</p>
    <p> <%= comment.content %></p>
  </div>
<% end %>