<!DOCTYPE html>
<html>
  <head>
    <title>OutdoorMuseum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  </head>

  <body>
    <section class="menu">
      <button class="accordian">Nav Menu</button>
      <div class="panel">
      <% if !logged_in? %>
        <a href="/sessions/new">Login</a>
        <a href="/users/new">Signup</a>
        <a href="">Search</a>
      <% end %>
      <% if logged_in? %>
        <form action="/sessions" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <button>Logout</button>
        </form>
      <% end %>
      <a href="/">Home</a>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
      var acc = $(".accordian");
      var i;

      for (i = 0; i < acc.length; i++){
        acc[i].addEventListener("click", function(){
          this.classList.toggle("active");

          var panel = this.nextElementSibling;
          if (panel.style.display === "block"){
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
    </script>

    <%= yield %>
  </body>
</html>
