<!DOCTYPE html>
<html>
  <head>
    <title>OutdoorMuseum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= stylesheet_link_tag 'home' %>

  </head>

  <body>
    <section class="menu">
     <a href="/"> <%= image_tag "om_logo.png", :class => 'logo' %></a>
      <div class="panel-desktop">
      <% if !logged_in? %>
        <h1><a href="/sessions/new">Login</a></h1>
        <h1><a href="/users/new">Signup</a></h1>
        <h1><a href="#">Search</a></h1>
      <% end %>

      <% if logged_in? %>
        <form action="/sessions" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <button class="logout">Logout</button>
        </form>
      <% end %>
      </div>
      <div class="icon"><i onclick="showMenu()" class="fas fa-bars fa-lg"></i></div>
    </section>
    <section class="hidden-menu hide">
      <div class="panel">
      <i onclick="hideMenu()" class="fas fa-times"></i>
      <% if !logged_in? %>
        <h1><a href="/sessions/new">Login</a></h1>
        <h1><a href="/users/new">Signup</a></h1>
        <h1><a href="#">Search</a></h1>
      <% end %>
      <% if logged_in? %>
        <form action="/sessions" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <button class="logout">Logout</button>
        </form>
      <% end %>
      </div>
    </section>

    <%= yield %>

    <footer>
      <p>&#169 All Rights reserved to Team ArtSnobs</p>
      <%= image_tag "om_logo.png", :class => 'logo' %>
    </footer>

    
    <%= javascript_include_tag "layout.js" %>
  </body>
</html>