<!DOCTYPE html>
<html>
  <head>
    <title>OutdoorMuseum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>

  <body>
    <section class="menu">
      <%= image_tag "om_logo.png", :class => 'logo' %>
      <i class="fas fa-bars fa-lg"></i>
    </section>
    <section class="hidden-menu hide">
      <div class="panel">
      <% if !logged_in? %>
        <i class="fas fa-times"></i>
        <h1><a href="/sessions/new">Login</a></h1>
        <h1><a href="/users/new">Signup</a></h1>
        <h1><a href="#">Search</a></h1>
      <% end %>
      <% if logged_in? %>
        <form action="/sessions" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <button class="logout">Logout</button>
        </form>
      <% end %>
    </section>

    <%= yield %>

     <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>
  var bars = document.querySelector('.fa-bars')
  var times = document.querySelector('.fa-times')
  var menu = document.querySelector('.hidden-menu')
  
  bars.addEventListener('click', ()=>{
    menu.className = "hidden-menu show"
  })
  times.addEventListener('click', ()=>{
    menu.className = "hidden-menu hide"
  })

  
</script>
    
  </body>
</html>
